---
import Layout from "../layouts/Layout.astro";
import Month from "../components/Month.astro";
---

<Layout title="Resume">
  <article>
    <header class="page-header">
      <h1 class="title">Jacob Robertson</h1>
      <ul class="keywords">
        <li>Software Engineer</li>
        <li>Full-Stack</li>
        <li>Web Applications</li>
      </ul>
      <address>
        <a href="mailto:g.jacob.robertson@gmail.com"
          >g.jacob.robertson@gmail.com</a
        >
        <a href="tel:+14047916176">+1 (404) 791-6176</a>
      </address>
    </header>
    <section>
      <h2>Summary</h2>
      <p>
        Dedicated software engineer with over a decade of experience,
        specializing in web applications. Elevates the software engineering
        practices of teams they are a part of to deliver high quality web
        applications that are reliable, maintainable, and accessible. Seeking
        opportunities with mission-driven organizations where technology
        facilitates civic participation and/or social good.
      </p>
    </section>
    <section>
      <h2>Experience</h2>
      <section class="job">
        <header>
          <h3>Senior Software Engineer @ Enveritas</h3>
          <Month datetime="2020-10" />&nbsp;-&nbsp;Present
        </header>
        <p>
          Lead architecture and development of data warehousing and reporting
          application for coffee roasters to understand sustainability risks
          within their supply chain. Developed internal tools for novel
          geospatial data collection and analysis.
        </p>
        <dl>
          <dt>Tech</dt>
          <dd>
            React, Python, PostgreSQL, Hasura, Docker, Terraform, AWS, GCP
          </dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Application Architect @ STORD</h3>
          <Month datetime="2019-03" />&nbsp;-&nbsp;<Month datetime="2020-10" />
        </header>
        <p>
          Planned, developed, and tested enterprise warehouse logistics
          platform. Mentored engineers and improved team practices around
          testing, maintainability, performance, and accessibility.
        </p>
        <dl>
          <dt>Tech</dt>
          <dd>
            Elixir, React, Ruby, Elasticsearch, PostgreSQL, Docker, Kubernetes,
            Terraform, GCP
          </dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Software Engineer @ Deft</h3>
          <Month datetime="2018-06" />&nbsp;-&nbsp;<Month datetime="2019-03" />
        </header>
        <p>
          Provided technical leadership consulting services including:
          architecture guidance, code review, agile planning facilitation, and
          delivery of infrastructure as code, CI/CD pipelines, and application
          code.
        </p>
        <dl>
          <dt>Tech</dt>
          <dd>
            React, Node.js, Elasticsearch, PostgreSQL, Docker, Kubernetes,
            Terraform, AWS, GCP
          </dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Software Engineer III @ CareerBuilder</h3>
          <Month datetime="2017-01" />&nbsp;-&nbsp;<Month datetime="2018-06" />
        </header>
        <p>
          Developed white label job board platform as part of company software
          ecosystem. Integrated application with numerous internal and external
          APIs. Mentored other engineers to improve code maintainability.
        </p>
        <dl>
          <dt>Tech</dt>
          <dd>Node.js, Angular, MongoDB, AWS</dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Software Engineer @ VeriSolutions</h3>
          <Month datetime="2016-06" />&nbsp;-&nbsp;<Month datetime="2016-12" />
        </header>
        <p>
          Responsible for architecture and implementation of automated
          temperature monitoring system. Stack included mesh sensor network,
          data consumption API, and web and mobile reporting applications.
        </p>
        <dl>
          <dt>Tech</dt>
          <dd>Ruby, Tails, AWS, Node.js, React Native, C, C++, Contiki OS</dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Teaching Assistant @ University of Texas at Austin</h3>
          <Month datetime="2015-08" />&nbsp;-&nbsp;<Month datetime="2016-05" />
        </header>
        <p>
          Held scheduled discussion sections and office hours to assist
          undergraduate computer science students with their understanding of
          course material. Assisted course instructors planning, grading, and
          lecturing.
        </p>
        <dl>
          <dt>Courses</dt>
          <dd>
            Programming Languages, Operating Systems, Algorithms, Data
            Structures
          </dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Consultant @ Wiserstudios</h3>
          <Month datetime="2014-02" />&nbsp;-&nbsp;<Month datetime="2015-08" />
        </header>
        <p>
          Designed, implemented and delivered numerous software projects.
          Clients ranged from startups to nonprofits to Fortune 500 companies.
          Projects frequently required web application design, development,
          testing, and cloud-based deployment using a broad array of modern
          software development tech.
        </p>
        <dl>
          <dt>Tech</dt>
          <dd>
            Node.js, React, Ruby, Rails, Sinatra, C#, ASP.NET MVC,
            Elasticsearch, SQL, Puppet
          </dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Software Engineer @ Quantisense</h3>
          <Month datetime="2012-04" />&nbsp;-&nbsp;<Month datetime="2014-02" />
        </header>
        <p>
          Created flexible tools for efficient implementation of retailer data
          warehousing pipelines. Built custom web application for retail
          assortment planning and reporting.
        </p>
        <dl>
          <dt>Tech</dt>
          <dd>
            Groovy, Grails, Python, Ruby, MSSQL, Oracle Database, Teradata,
            Netezza
          </dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Software Engineering Intern @ Intel</h3>
          <Month datetime="2011-05" />&nbsp;-&nbsp;<Month datetime="2011-08" />
        </header>
        <p>
          Built data warehousing and reporting solutions for high volume supply
          chain and equipment training data.
        </p>
        <dl>
          <dt>Tech</dt>
          <dd>C#, MSSQL, SSIS, SSRS</dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Teaching Assistant @ Georgia Institute of Technology</h3>
          <Month datetime="2009-08" />&nbsp;-&nbsp;<Month datetime="2011-05" />
        </header>
        <p>
          Held scheduled discussion sections and office hours to assist
          undergraduate computer science students with their understanding of
          course material. Assisted course instructors planning, grading, and
          lecturing.
        </p>
        <dl>
          <dt>Courses</dt>
          <dd>Algorithms, Data Structures</dd>
        </dl>
      </section>
      <section class="job">
        <header>
          <h3>Development Intern @ OpenStudy</h3>
          <Month datetime="2010-05" />&nbsp;-&nbsp;<Month datetime="2010-08" />
        </header>
        <p>
          Implemented features in early development stages of online
          collaborative learning platform.
        </p>
        <dl>
          <dt>Tech</dt>
          <dd>Scala, Lift, MongoDB, Elasticsearch</dd>
        </dl>
      </section>
    </section>

    <section>
      <h2>Education</h2>
      <section>
        <h3>University of Texas at Austin</h3>
        <p>
          Completed 34 credit hours towards M.S. Computer Science, 2014-2016
        </p>
      </section>
      <section>
        <h3>Georgia Institute of Technology</h3>
        <p>B.S. Computer Science with Highest Honor, 2012</p>
      </section>
    </section>

    <style>
      article {
        --divider-color: #8b8be4;
        --font-color-body: #000000;
        --font-color-accent: #434343;
        --font-color-interactive: #4141d2;
        --font-size-xl: 2rem;
        --font-size-lg: 1.75rem;
        --font-size-md: 1.25rem;
        --font-size-sm: 1rem;
        --font-weight-normal: 400;
        --font-weight-medium: 500;
        --font-weight-bold: 700;
        --spacing-xl: 2rem;
        --spacing-lg: 1.5rem;
        --spacing-md: 1rem;
        --spacing-sm: 0.5rem;
        --spacing-xs: 0.25rem;
        max-width: 48rem;
        margin-inline: auto;
        padding: var(--spacing-xl);
        color: var(--font-color-body);
        font-size: var(--font-size-sm);
      }

      address {
        font-style: normal;
        margin-block-start: var(--spacing-xs);
        display: flex;
        gap: var(--spacing-md);
      }

      a {
        text-decoration: none;
        color: var(--font-color-interactive);
      }

      h1 {
        margin-block: 0;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
      }

      h2 {
        margin-block: var(--spacing-sm);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bold);
      }

      h3,
      .job > header {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-regular);
        color: var(--font-color-accent);
        margin: 0;
      }
      article > section {
        border-top: 2px solid var(--divider-color);
        margin-bottom: var(--spacing-md);
      }

      article > header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 0 var(--spacing-md);
      }

      p,
      dl {
        margin-inline-start: var(--spacing-lg);
        margin-block: var(--spacing-xs);
      }

      dl {
        display: flex;
        gap: var(--spacing-xs);
      }

      dt {
        font-weight: var(--font-weight-medium);
      }
      dt::after {
        content: ":";
      }
      dd {
        margin: 0;
      }

      .keywords {
        font-size: var(--font-size-md);
        color: var(--font-color-accent);
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        gap: var(--spacing-md);
      }

      .job {
        margin-block: var(--spacing-md);
      }

      .job > header {
        display: flex;
        white-space: pre;
      }

      .job h3 {
        flex: 1;
      }

      @page {
        margin: 0.5in;
        size: letter;
      }

      @media print {
        article {
          padding: 0;
        }

        .job {
          break-inside: avoid;
        }
      }
    </style>
  </article>
</Layout>
